.screen {
    background-color: #ecf3f7;
    border-radius: 10px;
}

.cover {
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.little-profile {
    width: 250px;
}

.margin-left-right {
    margin-left: 5px;
    margin-right: 5px;
}
