<mat-list>
    <mat-list-item *ngFor="let person of profiles; let i = index">
        <img matListAvatar [src]="person.photobase64 || '../../../../assets/images/login.png'" style="background-color: white">
        <div matLine>{{ person?.name }} ({{ person?.email }})</div>
        <div matLine>Phone number: {{ person?.contactnumber }}</div>
        <button
            mat-icon-button
            type="button"
            color="accent"
            title="Make Admin"
            *ngIf="isAdmin && blnShowAdminButton"
            class="margin-left-right"
            (click)="addAdmin(person)"
            style="float: right"
        >
            <mat-icon>stars</mat-icon>
        </button>
        <button
            mat-icon-button
            type="button"
            color="accent"
            title="Add to Group"
            *ngIf="outstanding && isAdmin && blnShowAddToTeamButton"
            class="margin-left-right"
            (click)="addUserToTeam(person)"
            style="float: right"
        >
            <mat-icon>verified_user</mat-icon>
        </button>
        <button
            mat-icon-button
            type="button"
            color="warn"
            title="Remove from Group"
            *ngIf="isAdmin && blnShowRemoveFromTeamButton"
            class="margin-left-right"
            (click)="removeUserFromTeam(person)"
            style="float: right"
        >
            <mat-icon>cancel</mat-icon>
        </button>
        <button
            mat-icon-button
            type="button"
            color="warn"
            title="Remove from Admin"
            *ngIf="isAdmin && blnShowRemoveAdminButton"
            class="margin-left-right"
            (click)="removeUserFromTeamAdmin(person)"
            style="float: right"
        >
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-list-item>
</mat-list>