<mat-card class="slim-top bg-info" style="padding-bottom: 10px; width: 100%; margin: 0 -5px 15px 0" (click)="showPopup()">
    <mat-card-content class="text-white" style="padding-top: 0px; padding-bottom: 0px">
        <div fxLayoutAlign="center center">
            <mat-icon>info</mat-icon>
            <p style="margin-left: 5px; text-align: center">
                Current Limit on citizens retrieved from the database is: {{ limit }}. To change the limit please click here.
            </p>
        </div>
    </mat-card-content>
</mat-card>
