<mat-card>
    <mat-card-content>
        <div id="theograph"></div>
    </mat-card-content>
</mat-card>

<div fxLayout="row wrap">
    <div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <strong>Legend</strong>
                <div id="legend"></div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="70" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <strong>Selected Activity</strong>
                <div id="admissionDetails"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
