<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title style="margin-bottom: 15px">Heat Map of Cases per Population Age Group</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div id="heatmap"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div id="barchart"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
