<hr style="background-color: rgba(255, 255, 255, 0)" />
<h3>Reset your password</h3>

<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center center" style="padding: 0px 50px 0px">
        <!-- Enter email and request code -->
        <app-password-reset-request *ngIf="step === 'request'"></app-password-reset-request>

        <!-- Verify code -->
        <app-password-reset-verify *ngIf="step === 'verify'"></app-password-reset-verify>

        <!-- Change password -->
        <app-password-reset *ngIf="step === 'update'"></app-password-reset>
    </div>
</div>

<div fxLayout="row wrap" style="padding: 15px 50px">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center center">
        <a routerLink="/" style="font-size: 0.9em">Return to login</a>
    </div>
</div>
