<mat-card-title class="m-b-15">Teams</mat-card-title>

<div class="filters">
    <mat-form-field appearance="outline">
        <input type="text" placeholder="Search by name" matInput (keyup)="search($event.target.value)" />
    </mat-form-field>
    <button routerLink="/admin/teams/new" class="m-l-15" mat-raised-button mat-dialog-close color="primary">Add new</button>
</div>

<table mat-table [dataSource]="teams.filtered" class="w-100">
    <!-- Code Column -->
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Organisation Code Column -->
    <ng-container matColumnDef="organisation_code">
        <th mat-header-cell *matHeaderCellDef>Organisation Code</th>
        <td mat-cell *matCellDef="let element">{{ element.organisationcode }}</td>
    </ng-container>

    <!-- Responsible People Column -->
    <ng-container matColumnDef="responsible_people">
        <th mat-header-cell *matHeaderCellDef>Responsible People</th>
        <td mat-cell *matCellDef="let element">{{ element.responsiblepeople.join(", ") }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" style="min-width: 200px">
            <button routerLink="/admin/teams/{{ element._id }}" mat-raised-button color="primary" class="m-r-15">View</button>
            <button (click)="delete(element)" mat-raised-button color="warn">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['code', 'name', 'description', 'organisation_code', 'responsible_people', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['code', 'name', 'description', 'organisation_code', 'responsible_people', 'actions']"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No results</td>
    </tr>
</table>
