<h5 class="margin-block-none">List of saved views</h5>
<p>My views plus team views</p>
<ul class="no-bullets">
  <li>
    <button type="button" mat-icon-button disable>
      <i class="fas fa-user"></i>
    </button>
    Saved User View
    <button type="button" mat-icon-button color="accent" [matTooltip]="'Edit saved view'">
      <i class="fas fa-edit"></i>
    </button>
    <button type="button" mat-icon-button color="warn" [matTooltip]="'Remove saved view'">
      <i class="fas fa-backspace"></i>
    </button>
  </li>
  <li>
    <button type="button" mat-icon-button disable>
      <i class="fas fa-users"></i>
    </button>
    Saved Team View
  </li>
  <li>
    <button type="button" mat-icon-button disable>
      <i class="fas fa-globe-europe"></i></button
    >Saved Global View
  </li>
</ul>
