<p>Managing the health and well-being of our citizens is a key part of the Population Health Management agenda.</p>
<p>
    Our Population Health Intelligence (PHI) tool links datasets that are related directly to our citizens, however quite often the datasets
    that are relevant to the
    <a
        href="https://www.gov.uk/government/publications/health-profile-for-england-2018/chapter-6-wider-determinants-of-health"
        target="_blank"
        >Wider Determinants of Health</a
    >
    can not always be linked directly to an individual. Some of these sources of data can be linked to a property or a geography.
</p>
<p>
    For this reason, we have created this geographical mapping tool that allows you to research areas, with the intention of informing
    decisions around Place Based Interventions.
</p>

<h5 class="margin-block-none">Sources of Information</h5>
<p>This application allows you to map datasets from the following sources:</p>
<ul>
    <li>Councils</li>
    <li>Police</li>
    <li>Department for Levelling Up, Housing & Communities</li>
    <li>Consumer Data Research Centre (CDRC)</li>
    <li>Experian (Mosaic)</li>
    <li>Office for National Statistics</li>
    <li>NHS Organisations</li>
</ul>
<p>There is also the functionality to add your own datasets, for analysis or sharing with your team.</p>

<h5 class="margin-block-none">Saving and Sharing</h5>
<p>
    If you wish to save the configuration of a map and its settings for future visits to the site you can do so in the Saved Views tab. You
    can also share these saved configurations with Teams that you are a member of, in order to aide working collaboratively with colleagues.
</p>

<h5 class="margin-block-none">Linking to Population Health Intelligence (PHI)</h5>
<p>
    Once you have identified an area of interest that you wish to investigate further, you can generate a list of citizens whose registered
    home address is within the boundary (or boundaries) selected. This application is linked to our Population Health Intelligence (PHI) app
    and by selecting the option to generate a list you will open that application in another browser window/tab, taking you to the Citizen
    list page where your list will be displayed.
</p>

<h5 class="margin-block-none">More Information</h5>
<p>For more information on this application, please contact the Digital Intelligence Unit @ NHS Blackpool CCG.</p>
