<div fxLayout="row wrap">
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <app-statcard [data]="totalStats"></app-statcard>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <app-statcard [data]="monitorStats"></app-statcard>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <app-statcard [data]="reviewStats"></app-statcard>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <app-statcard [data]="dischargeStats"></app-statcard>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content class="slimCard" style="min-height: 66px" fxLayoutAlign="center center">
                <mat-form-field class="example-full-width" [formGroup]="group">
                    <mat-select placeholder="Filter by CCG..." (selectionChange)="filterCCG()" formControlName="ccg_ddl">
                        <mat-option [value]="null">Select All...</mat-option>
                        <mat-option *ngFor="let opt of ccgoptions" [value]="opt.code">{{ opt.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="34" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content class="slimCard" style="min-height: 66px" fxLayoutAlign="center center" fxLayout="column">
                <mat-spinner *ngIf="gpLoading" [diameter]="30"></mat-spinner>
                <mat-form-field class="example-full-width" [formGroup]="group">
                    <mat-select placeholder="Filter by GP..." (selectionChange)="filterGP()" formControlName="gp_ddl">
                        <mat-option [value]="null">Select All...</mat-option>
                        <mat-option *ngFor="let opt of gpoptions" [value]="opt.code">{{ opt.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content class="slimCard" style="min-height: 66px" fxLayoutAlign="center center">
                <button type="button" mat-raised-button color="warn" (click)="clearFilters()" style="width: 100%">Reset</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="margin: 0px 15px">
            <mat-card-content class="slimCard" style="min-height: 66px" fxLayoutAlign="center center">
                <mat-form-field class="example-full-width" [formGroup]="group">
                    <mat-select
                        placeholder="Filter by Recommendation..."
                        (selectionChange)="setData()"
                        formControlName="recommendation_ddl"
                    >
                        <mat-option [value]="null">Select All...</mat-option>
                        <mat-option *ngFor="let opt of recommendationlist" [value]="opt">{{ opt }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="margin: 0px 15px">
            <mat-card-content class="slimCard" style="min-height: 66px" fxLayoutAlign="center center">
                <mat-form-field class="example-full-width" [formGroup]="group">
                    <mat-select placeholder="Filter by Action Taken..." (selectionChange)="setData()" formControlName="action_ddl">
                        <mat-option [value]="null">Select All...</mat-option>
                        <mat-option *ngFor="let opt of actionlist" [value]="opt">{{ opt }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    <mat-spinner [diameter]="30" *ngIf="!dataFetched"></mat-spinner>
                </mat-card-title>

                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="90" fxFlex.gt-xs="100" fxFlex="100">
                        <app-UserValidation (confirmation)="updatePID($event)"></app-UserValidation>
                    </div>
                    <div fxFlex.gt-sm="10" fxFlex.gt-xs="100" fxFlex="100">
                        <button
                            class="bg-megna text-white"
                            type="button"
                            mat-raised-button
                            style="width: 100%; margin-top: 10px; margin-bottom: 10px; margin-left: 8px; margin-right: 8px"
                            matTooltip="Export Recent Virtual Ward Referrals to CSV file"
                            [disabled]="!sensitiveData"
                            (click)="exportReferralsToCsv(sensitiveData)"
                        >
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </div>
                </div>

                <section
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    class="example-section"
                    style="margin-bottom: 10px; overflow-x: auto"
                >
                    Filter Lists:
                    <mat-slide-toggle [(ngModel)]="isChecked" color="primary" (change)="setData()">{{
                        isChecked ? "OR" : "AND"
                    }}</mat-slide-toggle>
                    <button
                        *ngFor="let cat of list_types"
                        mat-icon-button
                        [matTooltip]="cat.title"
                        (click)="filterList(cat.value)"
                        [color]="selectedlisttypes.indexOf(cat.value) > -1 ? (cat.color ? cat.color : 'primary') : 'default'"
                    >
                        <mat-icon *ngIf="!cat.icon.includes('fa-')">{{ cat.icon }}</mat-icon>
                        <i *ngIf="cat.icon.includes('fa-')" style="font-size: x-large" [class]="cat.icon"></i>
                    </button>
                </section>
                <div class="bg-light p-10 p-r-20 p-l-20">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
                    </mat-form-field>
                </div>

                <div class="responsive-table" [hidden]="dataFetched">
                    <mat-table #Table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="fullname">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
                            <mat-cell *matCellDef="let task">
                                <span *ngIf="sensitiveData"
                                    ><span *ngIf="task.forename">{{ task.forename }} {{ task.surname }}</span></span
                                >
                                <span *ngIf="!sensitiveData">########</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nhs_number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> NHS Number </mat-header-cell>
                            <mat-cell *matCellDef="let task">
                                <span *ngIf="sensitiveData">{{ task.nhs_number }}</span>
                                <span *ngIf="!sensitiveData">########</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="age_in_years">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Age (in years)</mat-header-cell>
                            <mat-cell *matCellDef="let task"> {{ task.age_in_years }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="specimen_date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Specimen Date</mat-header-cell>
                            <mat-cell *matCellDef="let task"> {{ task.specimen_date }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="risk_score">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Risk Score</mat-header-cell>
                            <mat-cell *matCellDef="let task"> {{ task.risk_score }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="rs_frailty_index">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Frailty Index</mat-header-cell>
                            <mat-cell *matCellDef="let task">
                                <span *ngIf="task.rs_frailty_index">{{ task.rs_frailty_index }}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="recommendation">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Recommendation </mat-header-cell>
                            <mat-cell *matCellDef="let task">
                                <span [class]="getLabelClass(task.recommendation)" *ngIf="task.recommendation">{{
                                    task.recommendation
                                }}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="flags">
                            <mat-header-cell *matHeaderCellDef class="text-center-header-cell"> Long Term Conditions </mat-header-cell>
                            <mat-cell *matCellDef="let task; let i = index" class="text-center-header-cell">
                                <section
                                    fxLayout="row"
                                    fxLayoutAlign="space-between center"
                                    class="example-section"
                                    style="margin-bottom: 10px; overflow-x: auto"
                                >
                                    <span *ngFor="let cat of list_types">
                                        <button
                                            *ngIf="task[cat.value] === cat.default ? true : false"
                                            mat-icon-button
                                            [color]="cat.color ? cat.color : 'primary'"
                                            [matTooltip]="cat.title"
                                            (click)="filterList(cat.value)"
                                            [disabled]="task[cat.value] === cat.default ? false : true"
                                        >
                                            <mat-icon *ngIf="!cat.icon.includes('fa-')">{{ cat.icon }}</mat-icon>
                                            <i *ngIf="cat.icon.includes('fa-')" style="font-size: x-large" [class]="cat.icon"></i>
                                        </button>
                                    </span>
                                </section>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> Action Taken </mat-header-cell>
                            <mat-cell *matCellDef="let task">
                                <span [class]="getLabelClass(task.status)" [matTooltip]="task.nonreferral_reason" *ngIf="task.status">{{
                                    displaystatus(task)
                                }}</span>
                                <span *ngIf="task.docobo_ref" matTooltip="Data Sent to Docobo">
                                    <i class="fas fa-share-square" style="margin-left: 5px; color: #7460ee; font-size: x-large"></i>
                                </span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="updated_date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action Date</mat-header-cell>
                            <mat-cell *matCellDef="let task"> {{ task.updated_date | date: "yyyy-MM-dd" }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="functions">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button
                                    mat-button
                                    matTooltip="Undo Referral"
                                    (click)="undoAction(row)"
                                    color="warn"
                                    [disabled]="!sensitiveData || row.docobo_ref"
                                >
                                    <i class="fas fa-backspace" style="font-size: x-large"></i>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100]"> </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
