<mat-card-title class="m-b-15">Dashboards</mat-card-title>

<div class="filters">
    <mat-form-field appearance="outline">
        <input type="text" placeholder="Search by name" matInput (keyup)="search($event.target.value)" />
    </mat-form-field>
    <button (click)="addEdit()" class="m-l-15" mat-raised-button mat-dialog-close color="primary">Add new</button>
</div>

<table mat-table [dataSource]="dashboards.filtered" class="w-100">
    <!-- Code Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Owner Email Column -->
    <ng-container matColumnDef="ownerEmail">
        <th mat-header-cell *matHeaderCellDef>Owner Email</th>
        <td mat-cell *matCellDef="let element">{{ element.ownerEmail }}</td>
    </ng-container>

    <!-- Environment Column -->
    <ng-container matColumnDef="environment">
        <th mat-header-cell *matHeaderCellDef>Environment</th>
        <td mat-cell *matCellDef="let element">{{ element.environment }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="addEdit(element)" mat-raised-button color="primary" class="m-r-15">Edit</button>
            <button (click)="delete(element)" mat-raised-button color="warn">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'ownerEmail', 'environment', 'status', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'ownerEmail', 'environment', 'status', 'actions']"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No results</td>
    </tr>
</table>
