mat-card-header {
    padding: 24px 24px 0px 24px !important;
    mat-card-title {
        font-weight: 600;
        font-size: 1.5rem !important;
    }
}
.mat-table.overview {
    width: 100%;
    background: #eef5f9;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
mat-list {
    padding-top: 0px;
    mat-list-item {
        background: #fff;
        font-size: 14px !important;
        height: fit-content !important;
        border-bottom: 2px solid #eef5f9;
        ::ng-deep .mat-list-item-content {
            padding: 6px 16px;
        }
    }
}
