<!-- Team details -->
<div class="m-b-30">
    <mat-card-title class="m-b-15">Team details</mat-card-title>

    <form [formGroup]="team" (ngSubmit)="update()" style="width: 100%">
        <div fxLayout="row wrap" fxLayoutGap="15px">
            <div fxFlex.gt-md="calc(50% - 15px)" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Responsible people</mat-label>
                    <input-chiplist formControlName="responsiblepeople" placeholder="Input a name and then press enter"></input-chiplist>
                </mat-form-field>
            </div>

            <div fxFlex.gt-md="calc(50% - 15px)" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                    <mat-label>Code</mat-label>
                    <input formControlName="code" matInput />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Organisation code</mat-label>
                    <input formControlName="organisationcode" matInput />
                </mat-form-field>
            </div>

            <div fxFlex.gt-md="calc(100% - 15px)" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="margin-bottom: -1.34375em">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput placeholder="Describe what the team does..."></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<!-- Assigned roles -->
<div class="m-b-30">
    <mat-card-title class="m-b-15">Assigned roles</mat-card-title>

    <!-- Roles table -->
    <app-shared-roles-table [modelId]="team.value.id" modelName="team" [lazyLoad]="false" #roles></app-shared-roles-table>
</div>

<!-- Assigned capabilities -->
<div class="m-b-30">
    <mat-card-title class="m-b-15">Assigned capabilities</mat-card-title>

    <!-- Capabilities table -->
    <app-shared-capabilties-table [modelId]="team.value.id" modelName="team" [lazyLoad]="false" #capabilities></app-shared-capabilties-table>
</div>

<button (click)="save()" class="m-r-10" mat-raised-button color="primary">Save team</button>
<button routerLink="/admin/teams" mat-raised-button mat-dialog-close color="warn">Cancel</button>
