<div fxLayout="row wrap">
    <div fxFlex-gt-xs="100" fxFlex="100">
        <mat-card class="slim-top bg-warning" style="padding-bottom: 10px">
            <mat-card-content class="text-white" style="padding-top: 0px; padding-bottom: 0px">
                <div fxLayoutAlign="center center">
                    <p style="margin-left: 5px; text-align: center">Under Development. Awaiting confirmation of Model usage across ICS.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex-gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title>Modelling for Acute Capacity and Planning</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayoutAlign="center center"> Awaiting local model... </mat-card-content>
        </mat-card>
    </div>
</div>
