<mat-card-title class="m-t-20">Team details</mat-card-title>
<form [formGroup]="teamUpdateForm" (ngSubmit)="update()" style="width: 100%">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Organisation code</mat-label>
        <input formControlName="organisationcode" matInput />
    </mat-form-field>
     
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput placeholder="Describe what the team does..."></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Update</button>
</form>

<mat-divider style="position: relative;" class="m-t-20"></mat-divider>

<app-team-access [team]="team"></app-team-access>