.pill {
    background: #eef5f9;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    .mat-card-avatar {
        height: 100px;
        width: 100px;
        border: 2px solid #ffffff;
    }
}
mat-panel-title {
    min-width: 40%;
}
:host ::ng-deep mat-expansion-panel {
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding-left: 0px !important;
    }
}
