<!-- User details -->
<div class="pill m-b-30">
    <mat-card-title>User Details</mat-card-title>
    <div fxLayout="row wrap" fxLayoutGap="15px">
        <div fxFlex.gt-md="calc(50% - 15px)" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="start center">
            <div>
                <p cyName="name"><b>Name:</b> {{ user?.name }}</p>
                <p cyName="username"><b>Username: </b> {{ user?.username }}</p>
            </div>
        </div>
        <div fxFlex.gt-md="calc(50% - 15px)" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="start center">
            <div>
                <p><b>Organisation: </b> {{ user?.organisation }}</p>
                <p *ngIf="user?.linemanager"><b>Line manager: </b> {{ user?.linemanager }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Access logs -->
<div class="m-b-30">
    <mat-card-title class="m-b-15">Latest access logs</mat-card-title>
    <table mat-table [dataSource]="accessLogs" class="w-100 mat-elevation-z2">
        <!-- Code Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let element">{{ element["username#org"].split("#")[0] }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="organisation">
            <th mat-header-cell *matHeaderCellDef>Organisation</th>
            <td mat-cell *matCellDef="let element">{{ element["username#org"].split("#")[1] }}</td>
        </ng-container>

        <!-- Tags Column -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let element">{{ element.date + " " + element.time | date: "d/M/Y h:mm a" }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button (click)="view(element)" mat-raised-button color="primary" class="m-r-15">View</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['type', 'username', 'organisation', 'timestamp']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['type', 'username', 'organisation', 'timestamp']"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">No results</td>
        </tr>
    </table>

    <div class="w-100 text-right">
        <a routerLink="/admin/access-logs" [queryParams]="{ query_by: 'user', user: user?.id }" style="display: block; margin-top: 5px">View all</a>
    </div>
</div>

<div class="m-b-10">
    <mat-card-title class="m-b-15">Assignments</mat-card-title>
    <mat-accordion>
        <!-- Roles -->
        <mat-expansion-panel (afterExpand)="roles.get()" (afterCollapse)="roles.save()">
            <mat-expansion-panel-header>
                <mat-panel-title>Roles</mat-panel-title>
                <mat-panel-description>View and edit roles assigned to this user</mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Roles table -->
            <app-shared-roles-table [modelId]="user?.id" modelName="user" #roles></app-shared-roles-table>
        </mat-expansion-panel>

        <!-- Capabilities -->
        <mat-expansion-panel (afterExpand)="capabilities.get()" (afterCollapse)="capabilities.save()">
            <mat-expansion-panel-header>
                <mat-panel-title>Capabilities</mat-panel-title>
                <mat-panel-description>View and edit capabilities assigned to this user</mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Capabilities table -->
            <app-shared-capabilties-table [modelId]="user?.id" modelName="user" #capabilities></app-shared-capabilties-table>
        </mat-expansion-panel>

        <mat-expansion-panel (afterExpand)="teams.get()">
            <mat-expansion-panel-header>
                <mat-panel-title>Teams</mat-panel-title>
                <mat-panel-description>View the user's teams</mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Teams table -->
            <mat-form-field style="margin-bottom: -1.34375em">
                <mat-label>Add new team</mat-label>
                <input
                    (keyup)="teams.search($event.target.value)"
                    (focus)="teams.search()"
                    type="text"
                    placeholder="Search by name"
                    matInput
                    [matAutocomplete]="teamSearchAutocomplete"
                    #teamSearchInput
                />
                <mat-autocomplete (optionSelected)="teams.assign($event, teamSearchInput)" #teamSearchAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let role of teams.list.filtered" [value]="role">
                        {{ role.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <table mat-table [dataSource]="teams.selected" class="w-100" #teamsTable>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element" class="w-25">{{ element.name }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element" class="w-75">{{ element.description }}</td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <button (click)="teams.revoke(i)" mat-raised-button color="warn">Revoke</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['name', 'description', 'actions']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'actions']"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="3">No teams assigned to this user</td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>
