<mat-card *ngIf="!selectedGuide; else selectedGuideTemplate">
  <mat-card-header>
    <mat-card-title>Support for Nexus Intelligence</mat-card-title>
  </mat-card-header>
  <mat-card-content class="menu">
    <p>If you are experiencing issues using Nexus Intelligence, please review the following information to see if there is help available in one of our guides....</p>

    <mat-form-field>
      <input matInput [(ngModel)]="filters.keyword" (keyup)="searchConfluenceGuides()" placeholder="Search guides by keyword" autocomplete="off" />
    </mat-form-field>

    <mat-spinner *ngIf="loading; else guideListTemplate" style="margin: 50px auto;"></mat-spinner>
    <ng-template #guideListTemplate>
      <mat-list class="list m-b-20">
        <mat-list-item *ngFor="let guide of guides">
          <div mat-line>{{ guide.title }}</div>
          <button (click)="getConfluenceGuide(guide.id)" mat-raised-button color="primary">View</button>
        </mat-list-item>
      </mat-list>  
    </ng-template>
    
    <mat-divider></mat-divider>
    <p class="p-t-20">If you are experiencing technical issues or have received an error message and require help from technical support, please contact the Digital Intelligence Unit @ NHS Blackpool CCG.</p>
  </mat-card-content>
</mat-card>

<ng-template #selectedGuideTemplate>
  <button (click)="selectedGuide = null" mat-raised-button color="primary" class="m-l-20 m-b-10 m-t-10">Back to all</button>
  <mat-card>
    <mat-card-header style="justify-content: center">
      <mat-card-title>{{ selectedGuide.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="guide">
      <div class="content" (click)="confluenceContentClick($event)" [innerHTML]="selectedGuide?.body.view.value"></div>
    </mat-card-content>
  </mat-card>
</ng-template>
