<div fxLayout="row wrap">
  <div style="width: 80%" id="theocontainer" [hidden]="!showTheograph">
    <div id="theograph"></div>
  </div>

  <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" [hidden]="!showTheograph">
    <strong>Legend</strong>
    <div id="legend"></div>
  </div>

  <div [fxFlex.gt-sm]="showTheograph ? '33' : '100'" fxFlex.gt-xs="100" fxFlex="100" style="padding: 5px">
    <table style="width: 100%; padding-left: 5px; padding-right: 5px">
      <tr>
        <td colspan="2" style="border-bottom: 1px solid darkslategrey">Demographics</td>
      </tr>
      <tr>
        <td>Full Name</td>
        <td>
          {{ person.title + " " + person.forename + " " + (person.other_forenames || "") + " " + person.surname }}
        </td>
      </tr>
      <tr>
        <td>NHS Number</td>
        <td>
          <span *ngIf="person.nhs_number">
            {{ displayNHSNumber(person.nhs_number) }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ person.sex }}</td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td>{{ person.date_of_birth | date: "dd/MM/yyyy" }}</td>
      </tr>
      <tr *ngIf="person.date_of_death && person.date_of_death.toString().length > 1">
        <td>Date of Death</td>
        <td>{{ person.date_of_death | date: "dd/MM/yyyy" }}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{ person.age }}</td>
      </tr>
      <tr>
        <td>Landline / Mobile</td>
        <td>{{ person.landline || "unknown" }} / {{ person.mobile || "unknown" }}</td>
      </tr>
      <tr>
        <td>CPM Risk</td>
        <td>{{ person.risk_score_int || "unknown" }}</td>
      </tr>
    </table>
  </div>

  <div fxFlex.gt-sm="66" fxFlex.gt-xs="100" fxFlex="100" style="padding: 5px" *ngIf="showTheograph">
    <strong>Selected Activity</strong>
    <div id="admissionDetails"></div>
  </div>
</div>
