.profile-img {
  padding: 20px 0px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.user-profile .profile-img img {
  width: 68px !important;
}

#nhstheme .mat-list-item.selected > .mat-list-item-content > a {
  background: #0065b7 !important;
}
