<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-form-field class="demo-full-width" *ngIf="data.response">
        <input matInput [(ngModel)]="data.response.name" [placeholder]="data.text" />
    </mat-form-field>
    <mat-form-field *ngIf="data.teams" class="demo-full-width">
        <mat-select placeholder="If applicable, please select Team..." [(ngModel)]="data.response.teamcode">
            <mat-option *ngFor="let item of data.teams" [value]="item.teamcode">{{ item.teamcode }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.response" cdkFocusInitial>Confirm</button>
</div>
