<div fxLayout="row wrap">
  <div fxFlex-gt-xs="100" fxFlex="100">
    <mat-card class="slim-top bg-warning" style="padding-bottom: 10px">
      <mat-card-content class="text-white" style="padding-top: 0px; padding-bottom: 0px">
        <div fxLayoutAlign="center center">
          <p style="margin-left: 5px; text-align: center;">Under Development. Awaiting feeds from Acute Trusts.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex-gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Healthier Lancashire & South Cumbria</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Hospitals">
            <mat-spinner *ngIf="!bedsChecked"></mat-spinner>
            <app-BedData *ngIf="bedsChecked" [source]="bedSource" [columns]="bedColumns"></app-BedData>
            <hr />
            <app-TestData [source]="testSource" [columns]="testColumns"></app-TestData>
            <hr />
            <app-MortalityData [source]="mortalitySource" [columns]="mortalityColumns">
            </app-MortalityData>
            <hr />
            <app-EquipmentData [source]="equipmentSource" [columns]="equipmentColumns"></app-EquipmentData>
          </mat-tab>

          <mat-tab label="Urgent Care"> Awaiting Urgent Care information ... </mat-tab>

          <mat-tab label="Community"> Awaiting Community information ... </mat-tab>

          <mat-tab label="GPs"> Awaiting GP information ... </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
