/* Map */
.mapContainer {
	width: 100%;
	min-height: 80vh;
}
.map {
	width: 100%;
	min-height: 60vh;
}

.largerChartspace {
	// background-image: url("../../../../assets/images/rubki.gif");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	min-height: 350px;
	& > div {
		margin: 0;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

::ng-deep {
    /* Marker cluster */
    .marker-cluster-small {
        background-color: rgba(181, 226, 140, 0.6);
    }
    .marker-cluster-small div {
        background-color: rgba(110, 204, 57, 0.6);
    }

    .marker-cluster-medium {
        background-color: rgba(241, 211, 87, 0.6);
    }
    .marker-cluster-medium div {
        background-color: rgba(240, 194, 12, 0.6);
    }

    .marker-cluster-large {
        background-color: rgba(253, 156, 115, 0.6);
    }
    .marker-cluster-large div {
        background-color: rgba(241, 128, 23, 0.6);
    }

    .marker-cluster-xlarge {
        background-color: rgba(240, 0, 240, 0.6);
    }
    .marker-cluster-xlarge div {
        background-color: rgba(200, 0, 200, 0.6);
    }

    /* IE 6-8 fallback colors */
    .leaflet-oldie .marker-cluster-small {
        background-color: rgb(181, 226, 140);
    }
    .leaflet-oldie .marker-cluster-small div {
        background-color: rgb(110, 204, 57);
    }

    .leaflet-oldie .marker-cluster-medium {
        background-color: rgb(241, 211, 87);
    }
    .leaflet-oldie .marker-cluster-medium div {
        background-color: rgb(240, 194, 12);
    }

    .leaflet-oldie .marker-cluster-large {
        background-color: rgb(253, 156, 115);
    }
    .leaflet-oldie .marker-cluster-large div {
        background-color: rgb(241, 128, 23);
    }

    .leaflet-oldie .marker-cluster-xlarge {
        background-color: rgb(240, 0, 240);
    }
    .leaflet-oldie .marker-cluster-xlarge div {
        background-color: rgb(200, 0, 200);
    }

    .marker-cluster {
        background-clip: padding-box;
        border-radius: 20px;
    }
    .inner-cluster {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        margin-top: 5px;

        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
        text-shadow:
        /* Outline */ -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, -2px 0 0 #ffffff, 2px 0 0 #ffffff,
            0 2px 0 #ffffff, 0 -2px 0 #ffffff;
    }
    .marker-cluster span {
        line-height: 40px;
    }
}