<div fxLayout="row wrap">
  <div fxFlex-gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>COVID-19 Information and Intelligence</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>In this application we are looking to collate as much information on the spread of the pandemic as possible,
          alongside information sourced from our Local Health and Social care partners. The purpose of this is to
          hopefully provide some insight and useful information to our collaborative partners
          and colleagues. </p>
        <p>The information is taken from other sources and is the latest information available to us, unless
          otherwise stated.
          Links to the source and further information can be viewed by clicking the
          <mat-icon color="primary">information</mat-icon> buttons.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex-gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Sources of Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex-gt-xs="100" fxFlex="100" fxLayoutAlign="center center" style="flex-wrap: wrap;">
            <a target="_blank" href="https://systems.jhu.edu/"><img src="../../../assets/images/johnhopkins.png"
                alt="John Hopkins" style="background-color: black;" /></a>
            <a target="_blank" href="https://www.gov.uk/government/organisations/public-health-england"><img
                src="../../../assets/images/phe.png" alt="Public Health England" /></a>
            <a target="_blank" href="https://www.bfwh.nhs.uk/"><img src="../../../assets/images/bth.png"
                alt="NHS Blackpool Teaching Hospitals" /></a>
            <a target="_blank" href="https://www.lancsteachinghospitals.nhs.uk/"><img
                src="../../../assets/images/lth.png" alt="NHS Lancashire Teaching Hospitals" /></a>
            <a target="_blank" href="https://elht.nhs.uk/"><img src="../../../assets/images/elth.png"
                alt="NHS East Lancashire Hospitals" /></a>
            <a target="_blank" href="https://www.uhmb.nhs.uk/"><img src="../../../assets/images/uhmb.png"
                alt="NHS University Hospitals of Morecambe Bay" /></a>
            <a target="_blank" href="http://www.northwestsis.nhs.uk/"><img src="../../../assets/images/nwsis.png"
                alt="North West Shared Infrastructure Service" /></a>
            <a target="_blank" href="https://www.midlandsandlancashirecsu.nhs.uk/"><img
                src="../../../assets/images/csu.png" alt="NHS Midlands and Lancs CSU" /></a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
