<div fxLayout="row wrap">
  <div fxFlex-gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Full Dataset</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <hr />
        <a
          href="https://gitlab.com/nexus-fyldecoast-collaboration/analysis/mortality-and-admissions-sii/mortality-and-non-elective-admissions-sii/-/raw/master/output/lancashire_index_of_inequality.zip"
          target="_self"
          class="mat-raised-button mat-primary"
          style="width: 100%;"
          >Download File</a
        >
        <br />
        <hr />
        <p>
          This project was made possible by collaboration between the Lancashire
          County Council, NHS Fylde Coast CCGs and NHS Midlands & Lancashire
          CSU. All scripts used have been made available as Open-Source by the
          Digital Intelligence Unit (NHS Fylde Coast CCGs) at the following
          location:
          <a
            href="https://gitlab.com/nexus-fyldecoast-collaboration/analysis/mortality-and-admissions-sii/mortality-and-non-elective-admissions-sii"
            target="_blank"
            >https://gitlab.com/nexus-fyldecoast-collaboration/analysis/mortality-and-admissions-sii/mortality-and-non-elective-admissions-sii
          </a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
