<div style="margin: 10px 0" *ngIf="nhsnumber">
  <button mat-raised-button style="width: 100%" color="primary" type="button" (click)="onSubmit()" [disabled]="!endpointRes">Launch Shared Care Record</button>
  <iframe name="myFrame" style="width: 100%; height: 100vh" [hidden]="hideLPRES">
    <form id="theForm" [action]="lpresauthendpoint" method="post" target="myFrame">
      <input name="nhs-number" type="hidden" [value]="nhsnumber" />
      <input name="validation-check" type="hidden" [value]="endpointRes" />
      <input name="staff-title" type="hidden" value="Mx" />
      <input name="organisation" type="hidden" value="NEXUS" />
      <input name="staff-username" type="hidden" [value]="username" />
      <input name="staff-role" type="hidden" [value]="staffrole" />
      <input name="staff-givenName" type="hidden" [value]="firstname" />
      <input name="staff-surname" type="hidden" [value]="secondname" />
      <button id="lpresbutton" type="submit">Launch Shared Care Record</button>
    </form>
  </iframe>
</div>
