<p *ngIf="!changes">Loading...</p>

<p *ngIf="changes && changes.length === 0">
  No changes to record history
</p>

<table style="width: 100%;" *ngIf="changes && changes.length > 0">
  <thead>
    <th>
      Date
    </th>
    <th>
      Type
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tr *ngFor="let change of changes">
    <td><span *ngIf="change.date">{{ change.date | date: 'dd/MM/yyyy' }}</span></td>
    <td>{{change.type}}</td>
    <td>
      <button *ngIf="change.form" (click)="formSelected(change.form)" mat-icon-button color="primary"
        title="Display Form">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </tr>
</table>
